# This is a .gitignore file for C projects
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
!*/
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# We use a BLACK-LIST for folders
[Bb]in/
[Oo]bj/
[Cc]ov_*/
[Ii]so/
[Oo]pt/

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# We use a WHITE-LIST for files

# Repository files
!.git*
!*.md
!*.yml

# Building files
!Makefile
!*.mk
!configure

# Source files
!include/**/*.h
!src/**/*.c
!src/**/*.h
!arch/**/*.ld
!arch/**/*.asm
!arch/**/*.s
!arch/**/*.c
!arch/**/*.h
!os/**/*.h

# Exceptions
!make/**/*.sh
!doc/snippet/**/*
!src/tests/*

# Visual studio
!vs/*.sln
!vs/**/*.vcxproj
!vs/**/*.vcxproj.*
